html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    background-image: url('book_wall.jpg');
    background-size: cover;
    font-size: 30px;
    background-position: center center;
}

.button {
    font-size: 22px;
    text-align: center;
    line-height: 44px;
    background-color: #31adcc;
    color: white;
    border-radius: 50px;
    padding: 5px 25px;
    outline: 0 !important;
    box-shadow: 0 4px 0 slateblue, 0 5px 5px 1px rgba(0, 0, 0, .4);
    transition: all 0.15s ease-in-out;
    margin-top: -4px;
    border: 1px solid slateblue;
}

.button:hover {
    background-color: #2991ac;
    box-shadow: 0 4px 0 rgb(92, 79, 180), 0 5px 5px 1px rgba(0, 0, 0, .4);
}

.button:active {
    margin-top: 0px;
    box-shadow: none;
}

.button--close {
    background-color: #f5f5f5;
    color: #999;
    box-shadow: 0 4px 0 #cecece, 0 5px 5px 1px rgba(0, 0, 0, .4);
    border: 1px solid #999;
}

.button--close:hover {
    background-color: gainsboro;
    box-shadow: 0 4px 0 #b6b6b6, 0 5px 5px 1px rgba(0, 0, 0, .4);
}

.button--close:active {
    margin-top: 0px;
    box-shadow: none;
}
.button--accept {
    background-color: forestgreen;
    box-shadow: 0 4px 0 rgb(20, 83, 20), 0 5px 5px 1px rgba(0, 0, 0, .4);
    border: 1px solid rgb(20, 83, 20);
}

.button--accept:hover {
    background-color: rgb(8, 197, 8);
    box-shadow: 0 4px 0 forestgreen, 0 5px 5px 1px rgba(0, 0, 0, .4);
}

.button--accept:active {
    margin-top: 0px;
    box-shadow: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-background {
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, z-index 0.25s ease-in-out;
}

#modal-background.active {
    opacity: 1;
    z-index: ;
}

#modal-box {
    background-color: white;
    position: fixed;
    padding: 25px;
    top: 50%;
    left: 50%;
    max-width: 800px;
    min-width: 600px;
    transform: translate(-50%, -50%);
    /* added in lesson 322 */
    border-radius: 20px;
    opacity: 0;
    z-index: -10;
    transition: opacity 0.25s ease-in-out, z-index 0.25s ease-in-out;
}

#modal-box.active {
    opacity: 1;
    z-index: 8;
}

h1, p {
    font-family: 'Indie Flower', cursive;
}

.text-right {
    text-align: right;
}